/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@font-face {
  font-family: 'NeueMetanaNextOutline-Black';
  src: url('../css/NeueMetanaNextOutline-Black.otf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'NeueMetanaNext-SemiBold';
  src: url('../css/NeueMetanaNext-SemiBold.otf');
  font-weight: 600;
  font-style: normal;
}
/*===== VARIABLES CSS =====*/
:root {
  /*========== Colors ==========*/

  --primary-color: #1755E7;
  --primary-color-hover: #6c49d6;
  --body-color: #f6f5f7;
  --inset-color: #ececec;
  --content-color: #fff;
  --content-color-hover: rgb(242, 242, 242);
  --title-color: #141414;
  --border-light: #f1f1f1;
  --text-color-gray: #7d8493;
  --gray-color: #eff7fc;

  --radius: 5px;
  --radius-8: 8px;
  --transition-cursor: 1.25s cubic-bezier(.2, .5, 0, 1);

  /* shadow */
  --shadow-big-content: 0 0 12px rgb(0, 0, 0, 0.13);
  --shadow-small-content: 0 0 12px rgb(0, 0, 0, 0.1);
  --shadow-hover-content: 0 0 15px rgba(155, 131, 227, .9);

  /*========== Font and typography ==========*/
  --logo-font: 'Chango';
  --title-font-semi: 'NeueMetanaNext-SemiBold';
  --title-font-black: 'NeueMetanaNextOutline-Black';
  --body-font: 'Montserrat', -apple-system, Fira Sans, BlinkMacSystemFont, Arial, sans-serif;
}

/*========== BASE ==========*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
}

body {
  min-height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  font-family: var(--body-font) !important;
  background-color: var(--body-color);
  color: var(--title-color);
  font-weight: 500;
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
  list-style: none;
}
p {
  line-height: 28px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, var(--body-font), Segoe UI,
    Roboto, Helvetica, Ubuntu, Cantarell, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
}
h1,
h2,
h3 {
  color: var(--title-color);
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  transition: 0.25s ease-in-out;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}