.container {
  max-width: 1200px;
  padding: 40px 80px;
  margin: 0 auto;
}
.sec-title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.3px;
  padding-bottom: 6px;
}
.hide-menu {
  margin-left: 12px;
  position: relative;
}
.hide-menu svg {
  cursor: pointer;
}
.hide-menu svg use {
  fill: var(--title-color);
}
.hide-menu__inner {
  position: absolute;
  z-index: 55;
  right: 0;
  background: var(--content-color);
  padding: 8px 12px;
  border-radius: var(--radius);
  display: none;
  box-shadow: 0 0 10px var(--shadow-small-content);
}
.post-options-item {
  font-size: 0.9rem;
}
.tippy-box {
  background: #393d46 !important;
  font-size: 12px;
}
.tippy-arrow {
  color: #393d46 !important;
}
.reg_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  background: url(https://img1.akspic.ru/attachments/crops/1/7/1/2/0/102171/102171-peyzash-nebo-vodohranilishhe-priroda-fjord-1920x1080.jpg);
  background-size: cover;
}
.reg {
  border-radius: 50px;
  box-shadow: var(--shadow-big-content);
  background: var(--content-color);
  display: flex;
  margin: 20px auto;
  width: 600px;
  position: relative;
  overflow: hidden;
}
.reg_change {
  border: 2px solid rgb(215, 215, 215);
  border-radius: 10px;
  padding: 1px;
  margin-bottom: 20px;
  height: 40px;
  display: flex;
  width: 100%;
}
.reg_data_img_banner {
  border-radius: var(--radius-8);
  border: 2px dashed var(--border-light);
  overflow: hidden;
  position: relative;
  padding: 0;
  min-height: 250px;
}
.reg_data_img_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-8);
}
.reg_data_img_banner input {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: fit-content !important;
  transform: translateX(-50%);
  background: var(--content-color);
  border-radius: var(--radius);
}
.reg_change_button {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  text-align: center;
  border-radius: 8px;
  color: var(--title-color);
  transition: .2s ease;
}
.reg_change_button:hover {
  background: var(--content-color-hover);
}
.reg_change_button.active_change_button {
  background: var(--content-color-hover);
}
.reg_data {
  padding: 50px;
  border-radius: 30px;
  height: 100%;
  z-index: 2;
  text-align: center;
  width: 100%;
  background: var(--content-color);
}
.reg_data_name {
  font-size: 17px;
  position: absolute;
  right: 40px;
  font-family: 'Roboto Mono', monospace;;
  top: 20px;
}
.reg_data_title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}
.reg_data form p {
  text-align: left;
  color: #5e5d5d;
  margin-top: 6px;
}
.reg_data form input {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 400;
  border: 1px solid #ccc;
}
.reg_data form input:focus {
  outline: #8b65fe;
  border: 1px solid var(--primary-color);
}
.reg_data form button {
  border-radius: 15px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  border: none;
  padding: 15px;
  transition: .2s ease;
}
.reg_data form button:hover {
  background: var(--primary-color-hover);
}

/* navbar admin */
.admin_cover {
  height: 100%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin_wrapper {
  max-width: 1200px;
  height: 100%;
  display: flex;
  max-height: calc(100vh - 100px);
  margin: 50px 20px;
  overflow: hidden;
  box-shadow: var(--shadow-big-content);
  border-radius: 25px;
  width: 100%;
}
.admin_navbar {
  max-width: 400px;
  overflow: hidden;
  background: var(--content-color);
  width: 100%;
  border-right: 2px solid var(--border-light);
  height: 100%;
}
.navbar_title {
  font-size: 21px;
  font-weight: 700;
  border-bottom: 2px solid var(--border-light);
  padding: 20px;
}
.navbar_crud {
  display: flex;
  padding: 12px 12px 12px 0;
  height: calc(100% - 135px);
  flex-direction: column;
}
.navbar_crud_item {
  font-weight: 500;
  color: var(--text-color-gray);
  padding: 15px 15px 15px 20px;
  border-radius: 0 25px 25px 0;
  margin: 2px 0;
}
.navbar_crud_item:hover {
  background: var(--content-color-hover);
}
.navbar_crud_item_active {
  background: var(--primary-color) !important;
  color: #fff;
}
.navbar_exit {
  font-size: 21px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color-gray);
  width: 100%;
  border-top: 2px solid var(--border-light);
  padding: 20px;
}
.navbar_exit:hover {
  border-top: 2px solid var(--content-color);
  background: rgb(227, 99, 99);
  color: #fff;
}
/* data */
.admin_data {
  background: var(--content-color);
  height: 100%;
  width: 100%;
  padding: 20px;
}
.data_title {
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 20px;
}

.search {
  width: 100%;
  min-width: 420px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
}
.search_header {
  margin-right: 12px;
}
.search-container {
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
}
.search-container input#search {
  width: 100%;
  height: 40px;
  background: var(--inset-color);
  border: 1px solid var(--border-light);
  font-size: 10pt;
  float: left;
  text-align: left;
  color: var(--text-color-gray);
  padding-left: 50px;
  -webkit-border-radius: var(--radius-8);
  -moz-border-radius: var(--radius-8);
  border-radius: var(--radius-8);
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.search-container input#search::-webkit-input-placeholder {
  color: var(--text-color-gray);
}
.search-container input#search:-moz-placeholder {
  /* Firefox 18- */
  color: var(--text-color-gray);
}
.search-container input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--text-color-gray);
}
.search-container input#search:-ms-input-placeholder {
  color:var(--text-color-gray);
}
.search-container .icon {
  position: absolute;
  width: 40px;
  height: 38px;
  border-radius: var(--radius-8);
  background: var(--inset-color);
  margin-left: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: var(--text-color-gray);
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.search-container input#search:hover,
.search-container input#search:focus,
.search-container input#search:active {
  outline: none;
  background: var(--content-color-hover);
  border: 1px solid var(--primary-color);
}
.search-container:hover .icon,
.search-container input#search:focus .icon,
.search-container input#search:active .icon {
  background: var(--content-color-hover) !important;
}

/*admin table*/
.admin_table {
  margin-top: 20px;
  width: 100%;
}
.admin_table tr {
  border: 1px solid var(--border-light);
}
.admin_table th {
  border-right: 2px solid var(--border-light);
  border-bottom: 2px solid var(--border-light);
  text-align: left;
  padding: 4px;
}
.admin_table td {
  border-right: 2px solid var(--border-light);
  padding: 4px;
  border-bottom: 2px solid var(--border-light);
}
.table_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* MAIN */
/* MAIN */
/* MAIN */
.header {
  padding: 80px 100px 60px;
  position: absolute;
  z-index: 5;
  width: 100%;
}
.header .container {
  display: flex;
  max-width: 1100px;
  padding: 0;
  margin: 0 auto;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.header_left {
  display: flex;
  align-items: center;
}
.header_mobile {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  z-index: 10;
  max-width: 380px;
  padding: 70px 20px 20px 0;
  flex-direction: column;
  height: 100%;
  transition: .2s ease-in-out;
  transform: translateX(-100%);
  backdrop-filter: blur(15px);
  /*background: rgba(255, 255, 255, 0.2);*/
}
.header_mobile.active-menu {
  transform: translateX(0);
}
.ham_mobile {
  position: absolute;
  top: 5px;
  right: 0;
}
.header_mobile_item {
  padding: 15px 45px 15px 20px;
  background: rgb(255 255 255 / 20%);
  backdrop-filter: blur(20px);
  margin: 2px 0;
  color: #fff;
  position: relative;
  border-radius: 0 25px 25px 0;
}
.header_mobile_item .fa-arrow-right {
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  color: #111;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
}
.header_mobile_line {
  width: calc(100% - 20px);
  background: #a5a5a5;
  height: 2px;
  border-radius: 2px;
  margin: 15px 0 15px 20px;
}
.header_mobile_item_page_cover {
  padding-left: 15px;
}
.header_mobile_item_page_wrapper {
  background: rgb(255 255 255 / 20%);
  backdrop-filter: blur(20px);
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}
.header_mobile_item_page {
  font-size: 18px;
  color: #fff;
  padding: 4px;
}
.header_mobile_item_page:hover {
  text-decoration: underline;
}
.header_left .ham {
  margin-right: 56px;
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 800ms;
  font-weight: 300;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 600;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.ham.active {
  z-index: 11;

}
.ham .line {
  fill: none;
  transition: stroke-dasharray 800ms, stroke-dashoffset 800ms;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
}
.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}
.header_left .fa-magnifying-glass {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.header_search_cover {
  position: relative;
}
.search_header_cover {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: .2s ease-in-out;
  margin-top: 8px;
}
.search_header_cover.active {
  opacity: 1;
  z-index: 5;
}
.header_logo_img {
  width: fit-content;
  user-select: none;
  max-width: 111px;
  height: auto;
}
a.header_right_join {
  color: #fff;
  font-size: 17px;
}
/*main*/
.main {
  position: relative;
  padding-top: 180px;
  overflow: hidden;
  padding-bottom: 50px;
}
.main_parallax_img {
  background: url("../img/background.png");
  background-size: cover;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  transition: var(--transition-cursor);
  width: 110%;
  top: 0;
  height: 110%;
  transition: all 0.1s ease;
}
.main_data {
  display: flex;
  align-items: center;
}
.main_data_logo {
  min-width: 125px;
}
.main_data_info {
  padding-left: 20px;
  color: #fff;
}
.main_data_info_back {
  font-size: 17px;
  color: #fff;
}
.main_data_info_back i {
  margin-right: 6px;
}
.main_data_info_title {
  color: #fff;
  font-family: var(--title-font-black);
  font-size: 44px;
  margin-top: 25px;
  text-shadow: 4px 4px 8px rgb(0 0 0 / 70%);
}
.main_info {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.main_info_item {
  width: 50%;
  padding: 10px 30px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.main_info_desc_content {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.main_info_desc {
  border-right: 1px solid #fff;
}
.main_info_counter .container {
  display: flex;
}
.main_info_counter_item p {
  color: #fff;
  font-size: 16px;
}
.main_info_counter_item_number {
  font-size: 36px !important;
  font-weight: 700;
  padding-bottom: 8px;
  letter-spacing: 3px;
}
.main_info_counter_item {
  margin: 20px;
}
.main_info_counter_item_desc {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}
.main_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_bottom_menu_item {
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
  margin-right: 25px;
}
.main_bottom_right_item {
  color: #fff;
  font-size: 16px;
}

/*product*/
.main-info__red-ball {
  position: absolute;
  top: 1rem;
  right: -6rem;
  z-index: -1;
  height: 19.5rem;
  width: 19.5rem;
  background-image: url("../img/red-ball.png");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
.product {
  background: url("../img/dot-grid.webp");
}
.product .container {
  position: relative;
}
.circle_wrapper {
  position: absolute;
  top: 90px;
  right: 20px;
  z-index: -1;
}
.circle {
  border-radius: 50%;
  display: inline-block;
  height: 350px;
  width: 350px;
  position: relative;
  background: rgba(118, 154, 237, 0.5);
}
.circle:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(255,255,255,.8) 70%,rgba(255,255,255,.8) 100%);
  border-radius: 50%;
  position: absolute;
  top: 0; left: 0;
}
.product .product_cover {
  display: flex;
  flex-wrap: wrap;
  margin-top: -95px;
}
.product_item {
  max-width: calc(25% - 30px);
  display: block;
  margin: 15px;
  transition: var(--transition-cursor);
}
img.product_item_img {
  max-width: 230px;
  max-height: 230px;
  border-radius: 13px;
  object-fit: cover;
  transition: .3s ease-in-out;
}
.product_item_desc {
  font-size: 18px;
  margin-top: 5px;
  color: var(--title-color);
  font-family: var(--title-font-semi);
}
.product_item:hover {
  transform: translateY(-10px);
}
.product_item:hover .product_item_img {
  box-shadow: var(--shadow-hover-content);
}
.product_more_btn {
  font-size: 18px;
  margin-top: 15px;
  width: fit-content;
  cursor: pointer;
  display: block;
  border-radius: 25px;
  font-family: var(--title-font-semi);
  padding: 8px 16px;
  transition: .2s ease-in-out;
  border: 2px solid var(--title-color);
}
.product_more_btn:hover {
  background: var(--title-color);
  color: #fff;
}

/*reviews*/
.reviews {
  padding: 30px 0;
  /*border-top: 1px solid var(--title-color);*/
  border-bottom: 1px solid var(--title-color);
}
.reviews .container {
  position: relative;
}
.reviews .container .main-info__red-ball {
  top: -6rem;
  left: -6rem;
  opacity: .5;
}
.reviews_title {
  font-size: 32px;
  font-family: var(--title-font-semi);
  text-transform: uppercase;
  padding-bottom: 30px;
}
.reviews_cover {
  height: 305px;
  overflow: hidden;
}
.reviews_wrapper {
  overflow-x: auto;
  display: flex;
  padding-bottom: 15px;
  flex-wrap: nowrap;
  border-bottom: 3px solid rgba(255,255,255,0.01);
  scrollbar-width: thin;
  scrollbar-color: var(--inset-color) var(--content-color);
}
.reviews_wrapper:hover::-webkit-scrollbar {
  display: inline;
}
.reviews_wrapper::-webkit-scrollbar {
  height: 8px;
  display: none;
  width: 8px;
}
.reviews_wrapper::-webkit-scrollbar-track {
  background: var(--content-color);
}
.reviews_wrapper::-webkit-scrollbar-thumb {
  background-color: var(--inset-color);
  border-radius: 5px;
  border: 3px solid var(--content-color);
}
.reviews_item {
  background: var(--content-color);
  border-radius: 25px;
  padding: 25px 50px;
  min-width: 380px;
  margin: 0 20px;
}
.reviews_item_name {
  font-weight: 600;
  font-size: 21px;
  padding-bottom: 8px;
}
.contact_cover {
  display: flex;
  justify-content: space-evenly;
}
.contact_item {
  max-width: 250px;
  padding: 0 10px;
}
.contact_item_title {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 4px;
  color: var(--title-color);
}
.contact_item_desc {
  font-size: 17px;
  color: var(--title-color);
  font-weight: 400;
}
.contact_desc {
  display: flex;
  padding-bottom: 50px;
}
.contact_desc_item {
  width: calc(50% - 20px);
  margin: 0 10px;
}


/*main main*/
.main_main {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.swiper {
  height: 100vh;
}
.main_swiper_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}
.swiper-slide .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 130px;
  justify-content: center;
  align-items: center;
}
.main_swiper_title {
  color: #fff;
  font-size: 91px;
  white-space: nowrap;
  font-family: var(--title-font-semi);
  position: absolute;
  z-index: 4;
  left: 50%;
  transform: translate(-50%, -170%);
  top: 50%;
}
.main_swiper_img_company {
  max-width: 200px;
  width: 190px;
  height: 190px;
  border-radius: 50%;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 200px !important;
}
.swiper-pagination-bullet {
  background: #fff !important;
}
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}
.main_category {
  display: flex;
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 150px;
  align-items: center;
  border-top: 1px solid #fff;
}
.main_category_item {
  border-right: 1px solid #fff;
  padding: 25px;
  height: 100%;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 400;
  width: 16.67%;
  position: relative;
}
.main_category_item:last-child {
  border-right: none;
}
.main_category_item i {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  padding: 12px;
  bottom: 25px;
  transition: .2s ease-in-out;
  right: 25px;
}
.main_category_item:nth-child(1):hover {
  background: #0076E3;
}
.main_category_item:nth-child(2):hover {
  background: #FFE500;
  color: var(--title-color);
}
.main_category_item:nth-child(3):hover {
  background: #FFA800;
  color: var(--title-color);
}
.main_category_item:nth-child(4):hover {
  background: #12B064;
}
.main_category_item:nth-child(5):hover {
  background: #FE0000;
}
.main_category_item:nth-child(6):hover {
  background: #7000FE;
}
.main_category_item:hover i {
  background: #fff;
  color: #111;
}

/*single (contact)*/
.form_wrapper, .about_container {
  background: url("../img/dot-grid.webp");
  padding-bottom: 20px;
}
.container_form {
  max-width: 900px;
}
.main_single {
  background: url("../img/og-back.png");
}
.main_single_wrapper {
  padding-top: 180px;
}
.main_single_wrapper_title {
  font-size: 58px;
  color: #fff;
  font-family: var(--title-font-semi);
}
.main_single_wrapper_desc {
  color: #fff;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 2px;
}
.form-fieldset {
  border: none;
  display: flex;
  flex-direction: column-reverse;
}
.form-fieldset input, .form-fieldset textarea {
  border: 1px solid var(--primary-color);
  padding: 10px 15px;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 12px;
}
.form-fieldset label span {
  font-size: 17px;
}
.col {
  display: flex;
}
.formBtn {
  border: none;
  font-size: 17px;
  border-radius: 25px;
  margin: 8px 0 0;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 30px;
  cursor: pointer;
  color: #fff;
  background: var(--primary-color);
  margin-left: auto;
}

/*confirm page*/
.confirm_check {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.confirm_check i {
  font-size: 158px;
  color: #12B064;
}
.confirm_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*device main*/
@media screen and (max-width: 1140px) {
  .main_category {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .main_swiper_title {
    font-size: 64px;
    transform: translate(-50%, -215%);
  }
  .header_right {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .header {
    padding: 80px 35px 60px;
  }
  .main_swiper_title {
    font-size: 47px;
    transform: translate(-50%, -300%);
  }
  .search_header_cover {
    width: 100%;
    padding: 0 20px;
  }
  .search_header_cover .search {
    min-width: 200px;
    width: 100%;
  }
  .confirm_title {
    font-size: 5.5vw !important;
  }
}
@media screen and (max-width: 440px) {
  .header_left .ham {
    margin-right: 20px;
  }
  .header_mobile {
    max-width: 100%;
  }
  .main_swiper_title {
    font-size: 11vw;
    transform: translate(-50%, -35vw);
  }
}

/*device index*/
@media screen and (max-width: 1100px) {
  .main_info_item .container {
    padding: 30px;
  }
}
@media screen and (max-width: 950px) {
  .main_info {
    flex-direction: column;
  }
  .main_info_item {
    width: 100%;
  }
  .main_info_desc {
    border-right: none;
  }
  .product_item {
    max-width: calc(33.3% - 30px);
  }
}
@media screen and (max-width: 830px) {
  .contact_cover {
    flex-direction: column;
  }
  .contact_item {
    max-width: 100%;
    padding: 10px;
  }
  .product .product_cover {
    justify-content: center;
  }
  .product_item {
    max-width: calc(50% - 30px);
  }
  .contact_desc {
    flex-direction: column;
  }
  .contact_desc_item {
    width: 100%;
  }
}
@media screen and (max-width: 790px) {
  .main .container, .reviews .container, .product .container, .contact .container {
    padding: 40px;
  }
  .main_data_info_title {
    font-size: 38px;
  }
}
@media screen and (max-width: 640px) {
  .main_data {
    flex-direction: column;
  }
  .main_data_info {
    padding-left: 0;
    padding-top: 12px;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .header {
    padding: 80px 15px 60px;
  }
  .header_logo_img {
    margin-right: 20px;
  }
  .main .container, .reviews .container, .product .container, .contact .container {
    padding: 25px;
  }
  .main_data_info_title {
    font-size: 8vw;
  }
  .main_info_item .container {
    padding: 15px;
  }
  .main_info_counter .container {
    flex-direction: column;
  }
  .main_bottom_right_item {
    text-align: right;
  }
  .main_bottom_menu_item {
    padding: 6px 0;
    display: flex;
  }
  .product_item {
    max-width: 100%;
  }
  .reviews_item {
    min-width: 300px;
  }
  .reviews_cover {
    height: fit-content;
  }
  .main_single_wrapper_desc {
    font-size: 16px;
  }
}

/*device (contact)*/
@media screen and (max-width: 600px) {
  .main_single_wrapper_title {
    font-size: 11vw;
  }
  .main_single .container, .container_form {
    padding: 40px;
  }
}